@media screen and (max-width: 600px) {

    form input,
    select {
        width: 100%;
        margin-bottom: 10px;
    }

    .manageMantArea div {
        width: 100%;
        margin-bottom: 10px;
    }

    .manageMantArea input,
    select {
        width: 100%;
    }

    #userBtn {
        padding: 5px 10px;
        font-size: 16px;
        margin: 0px 9px;
    }

    table {
        margin: 10px 0px;
        width: 100%;
    }

    thead {
        background-color: #f87f6ad7;
        color: white;
        /* padding: 5px; */

    }

    table,
    thead,
    tbody,
    tr {
        width: 100%;
        display: block;
    }

    tr {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 100%;
    }

    tr:hover {
        background-color: yellow;
    }

    tr:hover button i {
        color: black;
    }

    td,
    th {
        flex: auto;
        text-align: center;
        font-size: 15px;
    }

    td button {
        background-color: unset;
        border: none;
    }

    button i {
        pointer-events: none;
        color: white;
        font-size: 14px;
    }
}